@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}


:root {
  --bg-color: #0F0A1F;
  --sec-color: #293D56;
  --border-color: #6FBBB5;
  --text-color: #ECF1EA;
  --tert-color: #293D56;
}

.white-content {
  --bg-color: #ECF1EA;
  --sec-color: #6FBBB5;
  --border-color: #0F0A1F;
  --text-color: #0F0A1F;
  --tert-color: #293D56;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
  font-family: 'Tilt Neon', cursive;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-container {
  width: 9em;
  height: 300px;
  border: 2px outset var(--border-color);
  box-shadow: var(--tert-color) 0px 3px 8px;
  background-color: var(--sec-color);
}

/* 
  filter: brightness(80%);
  transition: 0.2s ease-in-out;

.card-container:hover {
  filter: brightness(100%);
} */

.card-title {
  border-bottom: 2px outset var(--border-color);
  width: 100%;
  text-align: center;
  background-color: var(--sec-color);
}

.schedule-container {
  display: flex;
  gap: 1em;
}

.header-container {
  background-color: var(--sec-color);
  height: 3em;
  margin-bottom: 1em;
  border: 0.1em outset var(--border-color);
  padding-left: 0.5em;
  padding-right: 0.5em;
  box-shadow: rgba(255, 255, 255, 0.568) 0px 3px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container > ul{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.header-container > ul > li {
  padding: 0.2em;
}

.task {
  background-color: var(--bg-color);
  border-bottom: 0.2em outset var(--border-color);
  transition: 0.5s ease-in-out;
}

.taskForm {
  position: absolute;

}

.taskFieldset {
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
}

.taskFieldset > p {
  display: flex;
  flex-direction: column;
}

.button {
  border: 0.1em outset var(--border-color);
  padding: 0.4em;
  box-shadow: var(--tert-color) 0px 3px 8px;
  background-color: var(--bg-color);
  color: var(--text-color);
  user-select: none;

}

.button:active {
  filter: brightness(80%);
  border: 0.1em inset var(--border-color);

}

.button:hover, .expandbtn:hover {
  cursor: pointer;
}

.expandbtn {
  user-select: none;
}

.task {
display: flex;
flex-direction: column;

}