:root {
  --bg-color: #0F0A1F;
  --sec-color: #648381;
  --border-color: #44CF6C;
  --text-color: #F7F0F0;
  --tert-color: #70F8BA;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);

}

.card-container {
  width: 300px;
  height: 300px;
  border: 2px outset var(--border-color);
  box-shadow: var(--tert-color) 0px 3px 8px;
  background-color: var(--sec-color);
}

.card-title {
  border-bottom: 2px outset var(--border-color);
  width: 100%;
  text-align: center;
}